/*
	Author: Shane Schroll - 502
	Author URI: https://weare502.com
	Theme Name: Blueprint
	Description: Blueprint Loader.
	Version: 1.0.0
	Text Domain: blp
*/
/* normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

html, body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  line-height: 1.2;
  overflow-x: hidden;
}

::-webkit-input-placeholder {
  color: #8A8A8A;
  opacity: 1;
}

::-moz-placeholder {
  color: #8A8A8A;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #8A8A8A;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #8A8A8A;
  opacity: 1;
}

::placeholder {
  color: #8A8A8A;
  opacity: 1;
}

img {
  max-width: 100%;
  height: auto;
}

a, p, span, address, blockquote {
  font-family: roboto, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.2;
}

a {
  text-decoration: none;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
a:hover {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #2F2F2F;
}
@media (min-width: 768px) {
  p {
    margin-bottom: 1.5rem;
  }
}

small {
  font-family: roboto, sans-serif;
  font-size: 0.625rem;
  color: #FFF;
}

time {
  display: block;
  padding-top: 0.75rem;
  font-family: roboto, sans-serif;
  font-size: 0.875rem;
  color: #2F2F2F;
}

ul, ol {
  margin-bottom: 2.5rem;
  font-family: roboto, sans-serif;
  font-size: 0.875rem;
  color: #2F2F2F;
}

.h1-heading,
.h2-heading,
.h3-heading,
.h4-heading,
.h5-heading,
.h6-heading,
h1, h2, h3,
h4, h5, h6 {
  display: block;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: roboto-slab, serif;
  font-weight: bold;
  color: #2F2F2F;
}

h1, .h1-heading {
  font-size: 2rem;
}
@media (min-width: 768px) {
  h1, .h1-heading {
    font-size: 2.5rem;
  }
}
@media (min-width: 1023px) {
  h1, .h1-heading {
    font-size: 3rem;
  }
}

h2, .h2-heading {
  font-size: 1.85rem;
}
@media (min-width: 480px) {
  h2, .h2-heading {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  h2, .h2-heading {
    font-size: 2.5rem;
  }
}

h3, .h3-heading {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  h3, .h3-heading {
    font-size: 1.75rem;
  }
}
@media (min-width: 1023px) {
  h3, .h3-heading {
    font-size: 2rem;
  }
}

h4, .h4-heading {
  font-size: 1.175rem;
}
@media (min-width: 768px) {
  h4, .h4-heading {
    font-size: 1.375rem;
  }
}
@media (min-width: 1023px) {
  h4, .h4-heading {
    font-size: 1.5625rem;
  }
}

h5, .h5-heading {
  font-size: 0.9375rem;
}
@media (min-width: 768px) {
  h5, .h5-heading {
    font-size: 1.125rem;
  }
}

h6, .h6-heading {
  font-size: 0.875rem;
}
@media (min-width: 480px) {
  h6, .h6-heading {
    font-size: 1rem;
  }
}

.primary-button, .primary-button--w, .primary-button--t {
  display: inline-block;
  padding: 0.75rem 2.5rem;
  font-family: roboto-slab, serif;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
}
.primary-button--w {
  background-color: #FFF;
  color: #2F2F2F;
  border: 1px solid transparent;
}
.primary-button--w:hover {
  background-color: transparent;
  color: #FFF;
  border: 1px solid #FFF;
}
.primary-button--t {
  background-color: transparent;
  color: #FFF;
  border: 1px solid #FFF;
}
.primary-button--t:hover {
  background-color: #FFF;
  color: #2F2F2F;
}

/*
	Author: Shane Schroll
	Description: Class Utility Library
	Version: 1.0.0
*/
.content-wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.interior-header {
  max-width: 43.75rem;
  margin: 0 auto;
  background-color: #FFF;
}

.default-container {
  max-width: 75rem;
  margin: 1rem auto;
  padding: 1rem;
}

.default-container-short {
  max-width: 43.75rem;
  margin: 1rem auto;
  padding: 1rem;
}

.default-container a:not(.plain-link):not(.plain-link--bold), .default-container-short a:not(.plain-link):not(.plain-link--bold) {
  color: #2F2F2F;
  font-size: 0.875rem;
  font-weight: bold;
}
.default-container a:not(.plain-link):not(.plain-link--bold):hover, .default-container-short a:not(.plain-link):not(.plain-link--bold):hover {
  text-decoration: underline;
}

.plain-link, .plain-link--bold {
  color: #2F2F2F;
  font-size: 0.875rem;
}
.plain-link:hover, .plain-link--bold:hover {
  text-decoration: underline;
}
.plain-link--bold {
  font-weight: bold;
}

.hide-on-desktop {
  display: block;
}
@media (min-width: 768px) {
  .hide-on-desktop {
    display: none;
  }
}

.hide-on-mobile {
  display: none;
}
@media (min-width: 768px) {
  .hide-on-mobile {
    display: block;
  }
}

.fade-in {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

a.read-more {
  display: none;
}

.outer-nav-wrapper {
  position: relative;
  max-width: 100%;
  width: 100vw;
  z-index: 30;
  border-bottom: 2px solid #4A2B74;
  background-color: #FFF;
}

.nav-wrapper {
  position: relative;
  max-width: 100%;
  z-index: 25;
}
.nav-wrapper .nav-container nav ul {
  padding: 0;
  list-style: none;
}

#menu-toggle {
  display: none;
}

.mobile-nav-top {
  display: none;
}

@media (min-width: 53.125em) {
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 77rem;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem;
  }

  .logo {
    max-width: 16.125rem;
    margin-right: 2rem;
  }

  #primary-menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .nav-menu {
    width: 40rem;
  }
  .nav-menu .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
  .nav-menu .menu li {
    position: relative;
    padding: 0.75rem;
    -webkit-transition: 0.1s ease-out;
    transition: 0.1s ease-out;
    z-index: 5;
    background-color: transparent;
    border-bottom: 2px solid transparent;
  }
  .nav-menu .menu li.current-menu-item {
    border-bottom: 2px solid #4A2B74;
  }
  .nav-menu .menu li:hover {
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    background-color: #FFF;
    border-bottom: 2px solid #4A2B74;
  }
  .nav-menu .menu li a {
    color: #4A2B74;
    font-family: roboto, sans-serif;
    font-weight: normal;
    font-size: 1.125rem;
    text-transform: uppercase;
  }
  .nav-menu .menu li a:hover {
    cursor: pointer;
  }
  .nav-menu .menu .sub-menu {
    position: absolute;
    top: 2.5rem;
    left: 0;
    visibility: hidden;
    opacity: 0;
    width: 12.5rem;
    overflow: hidden;
    background-color: #FFF;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border-top-left-radius: unset;
  }
  .nav-menu .menu .sub-menu li {
    padding: unset;
    width: 100%;
    border-bottom: 1px solid #D8D8D8;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: unset;
    z-index: 5 !important;
  }
  .nav-menu .menu .sub-menu li:hover {
    border-bottom: 1px solid #4A2B74;
  }
  .nav-menu .menu .sub-menu li.current-menu-item {
    background-color: #4A2B74;
  }
  .nav-menu .menu .sub-menu li.current-menu-item a {
    color: #FFF;
  }
  .nav-menu .menu .sub-menu li:after {
    content: "";
    background-color: transparent;
  }
  .nav-menu .menu .sub-menu li a {
    display: inline-block;
    padding: 0.75rem;
    width: 100%;
    font-family: roboto, sans-serif;
    font-weight: normal;
    font-size: 0.875rem;
    color: #2F2F2F;
    text-transform: none;
    -webkit-transition: unset;
    transition: unset;
  }
  .nav-menu .menu .sub-menu li a:hover {
    -webkit-transition: unset;
    transition: unset;
    background-color: #4A2B74;
    color: #FFF;
    border-radius: unset;
    cursor: pointer;
  }
  .nav-menu .menu .menu-item-has-children {
    position: relative;
    z-index: 5;
    border-bottom-right-radius: unset;
  }
  .nav-menu .menu .menu-item-has-children:hover {
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 10;
  }
  .nav-menu .menu .menu-item-has-children:hover:after {
    content: "";
    background-color: #FFF;
    height: 1rem;
    width: 7.8rem;
    position: absolute;
    top: 2.25rem;
    left: 0;
    z-index: 3;
  }
  .nav-menu .menu .menu-item-has-children > a {
    position: relative;
  }
  .nav-menu .menu .menu-item-has-children:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transition: visibility 0.2s ease-out;
    transition: visibility 0.2s ease-out;
  }
}
@media (max-width: 53.0625em) {
  .logo {
    display: none;
  }

  .mobile-nav-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 1rem;
  }
  .mobile-nav-top .mobile-logo {
    max-width: 8.5rem;
  }

  #menu-toggle {
    display: block;
  }
  #menu-toggle:hover {
    cursor: pointer;
  }
  #menu-toggle .x-bar {
    display: block;
    width: 1.6rem;
    height: 3px;
    margin-bottom: 6px;
    background-color: #4A2B74;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    border-radius: 1px;
  }
  #menu-toggle .x-bar-active {
    position: relative;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    margin-bottom: 0;
    height: 4px;
  }
  #menu-toggle .x-bar-active:nth-child(3n+1) {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #menu-toggle .x-bar-active:nth-child(3n+2) {
    opacity: 0;
  }
  #menu-toggle .x-bar-active:nth-child(3n+3) {
    bottom: 8px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-bottom: 0;
  }

  #primary-menu {
    display: none;
    position: relative;
    width: 100%;
    top: 1.5rem;
    text-align: center;
    overflow: hidden;
  }
  #primary-menu li {
    margin-bottom: 1.5rem;
  }
  #primary-menu a {
    font-family: roboto, sans-serif;
    font-weight: bold;
    color: #4A2B74;
    font-size: 1rem;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  #primary-menu .menu-item-has-children {
    position: relative;
  }
  #primary-menu .menu-item-has-children > a {
    position: relative;
  }
  #primary-menu .menu-item-has-children > li {
    margin-top: 0.75rem;
  }
  #primary-menu .menu-item-has-children > .sub-menu {
    position: relative;
    width: 100%;
    top: 1rem;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: #4A2B74;
  }
  #primary-menu .menu-item-has-children > .sub-menu li {
    margin-bottom: 1.25rem;
  }
  #primary-menu .menu-item-has-children > .sub-menu li:last-of-type {
    margin-bottom: 0;
  }
  #primary-menu .menu-item-has-children > .sub-menu li a {
    color: #FFF;
    font-size: 0.875rem;
  }

  .sub-menu {
    display: none;
  }
}
/*
	The container element for these facets determines the wrapping and flow of content (per page basis).
	These control styles for all facets sitewide
*/
/*# sourceMappingURL=style.css.map */