{#
  * Block Name: Lightbox Image Gallery
  * Creates a 5 column grid with thumbnail images.
  * Clicking an image will open a modal window where it can be viewed at normal size.
#}

<section id="{{ block.id }}" class="blp-image-gallery" role="figure" aria-label="Lightbox Image gallery.">
	<div class="blp-image-gallery--item">
		{% for image in fields.gallery_images %}
			<div class="gallery-indexer"> {# needed for plugin #}
				<img src="{{ TimberImage( image.gal_image ).src }}" alt="{{ TimberImage( image.gal_image ).alt }}" />
			</div>
		{% endfor %}
	</div>
</section>