/*
	Author: Shane Schroll
	Description: Class Utility Library
	Version: 1.0.0
*/

// defaults => base classes / template pieces //
.content-wrapper {
	max-width: 100%;
	margin: 0 auto;
}

.interior-header {
	max-width: 43.75rem;
	margin: 0 auto;
	background-color: $white;
}

.default-container {
	max-width: 75rem;
	margin: 1rem auto;
	padding: 1rem;
}

.default-container-short {
	max-width: 43.75rem; // 41.75rem without padding
	margin: 1rem auto;
	padding: 1rem;
}

.default-container, .default-container-short {
	a:not(.plain-link) {
		color: $light-black;
		font-size: 0.875rem; // 14px
		font-weight: bold;
		&:hover { text-decoration: underline;}
	}
}

.plain-link {
	color: $light-black;
	font-size: 0.875rem; // 14px
	&:hover { text-decoration: underline;}

	&--bold {
		@extend .plain-link;
		font-weight: bold;
	}
}

// helper classes //
.hide-on-desktop {
	display: block;
	@include bp(sm) { display: none; }
}

.hide-on-mobile {
	display: none;
	@include bp(sm) { display: block; }
}

.fade-in {
	visibility: visible;
	opacity: 1;
	transition: 0.2s ease-out;
}

.fade-out {
	visibility: hidden;
	opacity: 0;
	transition: 0.2s ease-out;
}

// WP Specific Utilities //
// remove excerpt/preview read-more link
a.read-more { display: none; }