* { box-sizing: border-box; }
html { font-size: 16px; }

html, body {
	// smooths jagged font edges
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

	// font variant for numbers (display inline-style instead of jumbled)
	font-variant-numeric: lining-nums;
	font-feature-settings: "lnum" 1;
	-moz-font-feature-settings: "lnum" 1;
	-webkit-font-feature-settings: "lnum" 1;

	// global line-height
	line-height: 1.2;
	overflow-x: hidden;
}

// sitewide placeholder text (make it legible)
::placeholder { color: $grey-one; opacity: 1; }

// base image setup
img {
	max-width: 100%;
	height: auto;
}