// basic font styles
a, p, span, address, blockquote {
	font-family: $font-body;
	font-weight: normal;
	font-style: normal;
	font-size: 1rem; // 16px
	line-height: 1.2;
}

a {
	text-decoration: none;
	transition: 0.2s ease-out;

	&:hover {
		transition: 0.2s ease-out;
		text-decoration: none;
	}
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
	color: $light-black;
	@include bp(sm) { margin-bottom: 1.5rem; }
}

small {
	font-family: $font-body;
	font-size: 0.625rem;
	color: $white;
}

time {
	display: block;
	padding-top: 0.75rem;
	font-family: $font-body;
	font-size: 0.875rem;
	color: $light-black;
}

ul, ol {
	margin-bottom: 2.5rem;
	font-family: $font-body;
	font-size: 0.875rem;
	color: $light-black;
}

// heading styles
.h1-heading,
.h2-heading,
.h3-heading,
.h4-heading,
.h5-heading,
.h6-heading,
h1, h2, h3,
h4, h5, h6 {
	display: block;
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-family: $font-head;
	font-weight: bold;
	color: $light-black;
}

h1, .h1-heading {
	font-size: 2rem;
	@include bp(sm) { font-size: 2.5rem; }
	@include bp(md) { font-size: 3rem; } // 48px max
}

h2, .h2-heading {
	font-size: 1.85rem;
	@include bp(xs) { font-size: 2rem; }
	@include bp(sm) { font-size: 2.5rem; } // 40px max
}

h3, .h3-heading {
	font-size: 1.5rem;
	@include bp(sm) { font-size: 1.75rem; }
	@include bp(md) { font-size: 2rem; } // 32px max
}

h4, .h4-heading {
	font-size: 1.175rem;
	@include bp(sm) { font-size: 1.375rem;}
	@include bp(md) { font-size: 1.5625rem; } // 25px max
}

h5, .h5-heading {
	font-size: 0.9375rem;
	@include bp(sm) { font-size: 1.125rem; } // 18px max
}

h6, .h6-heading {
	font-size: 0.875rem;
	@include bp(xs) { font-size: 1rem; } // 16px max
}