// standard colors
$black: #000;
$smoke: #111F2A;
$light-black: #2F2F2F;
$white: #FFF;
$off-white: #EAEAEA;
$grey-one: #8A8A8A;
$grey-two: #515151;
$grey-three: #979797;
$grey-four: #9B9B9B;
$grey-five: #D8D8D8;
$steel-grey: #959EA6;

// social icon colors
$twitter-blue: #0084FF;
$facebook-blue: #3B5998;
$google-red: #D34836;

// brand colors
$purple: #4A2B74;
$green: #8EA13A;

// shadows
$button-shadow: 0 12px 13px -10px rgba($black, 0.5);
$card-shadow: 0 0 2px 0 rgba($black, 0.5);

// fonts
$font-head: roboto-slab, serif;
$font-body: roboto, sans-serif;

// alt mq sizes
$iphone678: 375px;
$small-tablet: 400px;
$iphonex: 414px;
$tablet: 768px;
$laptop: 1023px;
$desktop: 1200px;

// mq mixin
@mixin bp($size) {
	@if $size == xs {
		@media (min-width: 480px) { @content; }
	} @else if $size == sm {
		@media (min-width: 768px) { @content; }
	} @else if $size == md {
		@media (min-width: 1023px) { @content; }
	} @else if $size == lg {
		@media (min-width: 1200px) { @content; }
	} @else if $size == xl {
		@media (min-width: 1340px) { @content; }
	} @else {
		@media (min-width: $size) { @content; }
	}
}