.blp-image-gallery {
	max-width: 100%; // 48.75rem total (padding included on template)
	margin: 5rem auto 2.5rem;

	&--item {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(8rem, 8rem)); // use 'auto-fill' to align left instead of center
		column-gap: 1.65rem;
		row-gap: 2rem;
		justify-content: center;
		align-items: center;

		img {
			max-width: 100%;
			max-height: 10rem; // prevent tall images from skewing grid height
		}
	}

	.gallery-indexer { margin: 0 auto; }
}

// Plugin "Gallery Lightbox Slider Lite" Controls lightbox effect
// Files modified in plugin dir 'glg-functions.php', 'photobox.css'