.editor-button-block {
	display: inline-block;
	padding: 0.75rem 1.5rem;
	font-family: $font-head;
	font-size: 1.125rem;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: $white;
	&:hover { box-shadow: $button-shadow; text-decoration: none; }
	&__green, &__purple { @extend .editor-button-block; }
	&__purple { background-color: $purple; }
	&__green { background-color: $green; }
}